.header {
  max-width: 880px;
  min-height: 74px;
  padding: 45px 0 40px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 41px;
}

@media (max-width: 630px) {
  .header {
    min-height: 56px;
    padding: 28px 0 42px;
    gap: 31.6px;
  }
}
