.profile__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .profile__subtitle {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    align-self: center;
  }
}
