.profile__title {
  font-size: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-transform: capitalize;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 630px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
  }
}
