.popup__close-icon {
  display: block;
  width: 32px;
  height: 32px;
  appearance: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/Close-Icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.popup__close-icon:hover {
  opacity: .6;
}

@media screen and (max-width: 550px) {
  .popup__close-icon {
    right: 0;
    width: 20px;
    height: 20px;
  }
}

