.popup__item {
  display: block;
  appearance: none;
  border: 0;
  width: 100%;
  height: 27px;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  padding-bottom: 10px;
  background-color: transparent;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  font-family: inherit;
  padding: 0;
  outline: 0;
}

.popup__item::-webkit-input-placeholder {
  font-size: 14px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  line-height: 17px;
  color: rgba (0, 0, 0, .5);
}

.popup__item::-moz-placeholder {
  font-size: 14px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  line-height: 17px;
  color: rgba (0, 0, 0, .5);
}

.popup__item::-ms-input-placeholder {
  font-size: 14px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  line-height: 17px;
  color: rgba (0, 0, 0, .5);
}

.popup__item::placeholder {
  font-size: 14px;
  font-family: 'Inter', Arial, sans-serif;
  line-height: 17px;
  color: rgba (0, 0, 0, .5);
}
